*{
    padding: 0;
    margin-right: 0;
}
body{

    background-color: #0C2D57;
    padding: 3px 18px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
}
.form-container{
    position: relative;
    margin-top: 100px;
    width: 450px;
    height: auto;
    background-color:#FFB0B0 ;
    border-radius: 5px;
   
     
    
}
h1{
    padding: 20px 130px;
    font-size: 35px;
    font-weight: bold;
    color: #0C2D57;
}
.form{
   
   padding: 20px 40px;
    
}

.form .label {
    font-size: 18px;
    color: #0C2D57;
    margin: 5px 0 ; 
}
.form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid #BED1CF;
}
.form .labelSecond{
   margin-top: 30px;
   color: #0C2D57;
}
.btn{
    margin: 45px 0 30px 0;
    height: 45px;
    width: 365px;
    font-size: 20px;
    color: #BED1CF;
    outline: none;
    cursor: pointer;
    background-color: #0C2D57;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
}
.form #email_error,
.form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #C62828; 
    background: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}